@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url(../fonts/Gilroy_Font_Family/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../fonts/Gilroy_Font_Family/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url(../fonts/Gilroy_Font_Family/Gilroy-Light.ttf) format("truetype");
}

body {
  margin: 0;
  background-color: #221613;
}

.module-border-wrap {
  position: relative;
  align-items: center;
  overflow-y: auto;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  box-sizing: border-box;
  border: 10px solid transparent; /* Set a transparent solid border */
  border-image: linear-gradient(
    to top,
    #ff7e5f,
    #feb47b
  ); /* Define your gradient */
  border-image-slice: 1; /* Ensure the entire border is filled with the gradient */
}

.schedHeader {
  color: #e89440;
  font-family: "Gilroy-Bold";
  padding: 0 0 0 20px;
  max-width: 50vw;
}
.text {
  color: white;
  font-family: "Gilroy-Bold";
  padding: 0 0 0 20px;
  max-width: 50vw;
}

.projTitle {
  color: #ea5400;
  font-family: "Gilroy-Bold";
  padding: 0 0 0 20px;
  max-width: 50vw;
}

.header {
  color: #fff;
  font-family: "Gilroy-Medium";
  text-align: center;
}

.tab {
  display: inline-block;
  margin-left: 4em;
}

/* Mobile breakpoint */
@media (max-width: 768px) {
  .projTitle,
  .text,
  .schedHeader {
    max-width: 100%;
  }
}
